{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "app": "./src/app",
        "assets": "./src/assets",
        "constants": "./src/constants",
        "store": "./src/store",
        "theme": "./src/theme",
        "screens": "./src/views/screens",
        "components": "./src/views/components",
        "lib": "./src/lib",
        "storage": "./src/lib/storage/storage"
      }
    }],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
